#posts-ol {
  padding-left: 0;
}

#posts-ol > li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2em;
}

#posts-ol > li > h3 {
  font-weight: normal;
}

#posts-h2 {
  display: flex;
  align-items: center;
  gap: 0.33em;
}

#rss-icon {
  width: 1em;
  height: 1em;
}
