@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
    color: white;
  }

  a {
    color: lightblue;
  }

  a:visited {
    color: lightpink;
  }

  a:active {
    color: lightsalmon;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: large;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: larger;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: x-large;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: xx-large;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  line-height: 1.75;
}

main {
  max-width: min(992px, 90vw);
  margin: auto;
}

hr {
  width: 100%;
}

h3,
h4 {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

button {
  /* remove default styles */
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  border-radius: 50%;
  background-color: gray;
}

*:focus {
  outline: 4px solid cornflowerblue;
}

pre {
  max-width: 100%;
}

.img-a {
  line-height: 0;
}
